body{
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
color: #e096b1;
padding: 100px;
}

h1{
background-color: #42f45f;
color: #ffffff;
}

 .pink {
  background-color: #e05ca9;
  color: #ffffff;
}

.white {
  background-color: #ffffff;
  color: #595357;
}

.magical_box{
  border: 2px solid #665544;
  padding: inherit;
  background-color: #6d6b6d;
}
